services:
  nginx:
    container_name: nginx
    image: nginx
    ports:
        - "80:80" 
        - "443:443" 
    volumes:
      - ../pages:/usr/share/nginx/html/
      - ./etc/nginx/conf.d:/etc/nginx/conf.d
      - ./etc/nginx/mime.types:/etc/nginx/mime.types     
    tty: true
    
